<div id="modal-content-wrapper">
    <div *ngIf="!showData">
        <header id="modal-header">
            <h1 id="modal-title">Select Parameters</h1>
        </header>
        <section id="modal-body">
            <div class="search-component">
                <span>
                    <mat-label>Fields:  </mat-label>
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="selectedColumns" multiple>
                            <mat-option *ngFor="let column of columns" [value]="column">
                                {{column}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </div>
    
            <div class="search-component">
                <span>
                    <mat-label>Aggregator:  </mat-label>
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="selectedAggregator">
                            <mat-option *ngFor="let aggregator of aggregators" [value]="aggregator">
                                {{aggregator}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
        
                <span>
                    <mat-label>Aggregator Column:  </mat-label>
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="selectedAggregatorColumn">
                            <mat-option *ngFor="let column of columns" [value]="column">
                                {{column}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </div>
            <div class="search-component">
                <span>
                    <mat-label>Field:  </mat-label>
                <mat-form-field appearance="fill">
                    <mat-select [(value)]="selectedFilterColumn">
                        <mat-option *ngFor="let column of columns" [value]="column">
                            {{column}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </span>
                
                <span>
                    <mat-label>Operator:  </mat-label>
                <mat-form-field appearance="fill">
                    <mat-select [(value)]="selectedOperator">
                        <mat-option *ngFor="let operator of operators" [value]="operator.name">
                            {{operator.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </span>
    
                <span>
                    <mat-label>Value:  </mat-label>
                        <input matInput type="text" [(ngModel)]="selectedValue">
                </span>
            </div>
            
            <div class="search-component">
                <span>
                    <mat-label>Distinct Columns:  </mat-label>
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="selectedDistinctColumns" multiple>
                            <mat-option *ngFor="let column of columns" [value]="column">
                                {{column}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </div>
            <div class="search-component">
                <span>
                    <mat-label>Group By:  </mat-label>
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="selectedGroupByColumns" multiple>
                            <mat-option *ngFor="let column of columns" [value]="column">
                                {{column}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </div>
    
        </section>
        <footer id="modal-footer">
            <button mat-raised-button id="modal-action-button" (click)="search()">Create</button>
            <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Cancel</button>
        </footer>
    </div>

    <div *ngIf="showData" >
        <fa-icon [icon] = 'faCross' (click)="closeModal()" style="display: flex; justify-content: flex-end;"></fa-icon>
        <header id="modal-header">
            <h1 id="modal-title">Query Result</h1>
            
        </header>
        <section id="modal-body" style="overflow: auto;">
            <table mat-table [dataSource]="data" class="mat-elevation-z8">
                <ng-container [matColumnDef]="column" *ngFor="let column of columns">
                  <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                  <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
              </table>
        </section>
        <footer id="modal-footer">
            
        </footer>
    </div>
    
</div>